interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/agents/id:8701
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/agents/id:8701']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/agents/id:8701
  response:
    body: {string: !!python/unicode '{"href":"/guestAuth/app/rest/agents/id:8701","id":8701,"name":"win2008-v8-i-98436748","typeId":160,"connected":true,"enabled":true,"authorized":true,"uptodate":true,"ip":"10.140.35.211","properties":{"count":194,"property":[{"name":"cloud.amazon.agent-name-prefix","value":"win2008-v8"},{"name":"DotNetFramework2.0.50727_x64_Path","value":"C:\\Windows\\Microsoft.NET\\Framework64\\v2.0.50727"},{"name":"DotNetFramework2.0.50727_x86_Path","value":"C:\\Windows\\Microsoft.NET\\Framework\\v2.0.50727"},{"name":"DotNetFramework2.0_x64","value":"2.0.50727"},{"name":"DotNetFramework2.0_x64_Path","value":"C:\\Windows\\Microsoft.NET\\Framework64\\v2.0.50727"},{"name":"DotNetFramework2.0_x86","value":"2.0.50727"},{"name":"DotNetFramework2.0_x86_Path","value":"C:\\Windows\\Micro[...]
