interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/server
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/server']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/server
  response:
    body: {string: !!python/unicode '{"version":"9.0.4 (build 32407)","versionMajor":9,"versionMinor":0,"startTime":"20150518T114328+0300","currentTime":"20150607T130011+0300","buildNumber":"32407","buildDate":"20150421T000000+0300","internalId":"JetBrains-teamcity.jetbrains.com-42e5180b-64e4-4b46-ab8b-84c8c9e1891a","projects":{"href":"/guestAuth/app/rest/projects"},"vcsRoots":{"href":"/guestAuth/app/rest/vcs-roots"},"builds":{"href":"/guestAuth/app/rest/builds"},"users":{"href":"/guestAuth/app/rest/users"},"userGroups":{"href":"/guestAuth/app/rest/userGroups"},"agents":{"href":"/guestAuth/app/rest/agents"},"buildQueue":{"href":"/guestAuth/app/rest/buildQueue"},"agentPools":{"href":"/guestAuth/app/rest/agentPools"}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
