interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/users
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/users']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/users
  response:
    body: {string: !!python/unicode 'Error has occurred during request processing
        (Forbidden).

        Error: jetbrains.buildServer.server.rest.errors.AuthorizationFailedException:
        User ''guest'' (Guest user) {id=-1000} does not have any of the permissions
        granted globally: [VIEW_USER_PROFILE (View user profile), CHANGE_USER (Modify
        user profile and roles)]

        Access denied. Check the user has enough permissions to perform the operation.'}
    headers:
      content-type: [text/plain]
    status: {code: 403, message: Forbidden}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/users
  response:
    body: {string: !!python/unicode 'Error has occurred during request processing
        (Forbidden).

        Error: jetbrains.buildServer.server.rest.errors.AuthorizationFailedException:
        User ''guest'' (Guest user) {id=-1000} does not have any of the permissions
        granted globally: [VIEW_USER_PROFILE (View user profile), CHANGE_USER (Modify
        user profile and roles)]

        Access denied. Check the user has enough permissions to perform the operation.'}
    headers:
      content-type: [text/plain]
    status: {code: 403, message: Forbidden}
version: 1
