interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:ArtifactoryPluginForTeamCity
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:ArtifactoryPluginForTeamCity']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:ArtifactoryPluginForTeamCity
  response:
    body: {string: !!python/unicode '{"id":"ArtifactoryPluginForTeamCity","name":"Artifactory
        Plugin for TeamCity","parentProjectId":"TeamCityThirdPartyPlugins","href":"/guestAuth/app/rest/projects/id:ArtifactoryPluginForTeamCity","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=ArtifactoryPluginForTeamCity","parentProject":{"id":"TeamCityThirdPartyPlugins","name":"TeamCity
        Third-Party Plugins","parentProjectId":"_Root","href":"/guestAuth/app/rest/projects/id:TeamCityThirdPartyPlugins","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=TeamCityThirdPartyPlugins"},"buildTypes":{"count":2,"buildType":[{"id":"bt208","name":"Release","projectName":"TeamCity
        Third-Party Plugins :: Artifactory Plugin for TeamCity","projectId":"ArtifactoryPluginForTeamCity","href":"/guestAuth/app/rest/buildTypes/id:bt208","webUrl":"https://teamcity.jetbrains.com/viewType.html?buildTypeId=bt208"},{"id":"bt206","name":"Trunk","projectName":"TeamCity
        Third-Party Plugins :: Artifactory Plugin for TeamCity","projectId":"ArtifactoryPluginForTeamCity","href":"/guestAuth/app/rest/buildTypes/id:bt206","webUrl":"https://teamcity.jetbrains.com/viewType.html?buildTypeId=bt206"}]},"templates":{"count":0,"buildType":[]},"parameters":{"count":0,"href":"/app/rest/projects/id:ArtifactoryPluginForTeamCity/parameters","property":[]},"vcsRoots":{"count":2,"href":"/guestAuth/app/rest/vcs-roots?locator=project:(id:ArtifactoryPluginForTeamCity)"},"projects":{"count":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
