interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/agents
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/agents']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/agents
  response:
    body: {string: !!python/unicode '{"count":1,"href":"/guestAuth/app/rest/agents","agent":[{"href":"/guestAuth/app/rest/agents/id:8701","id":8701,"name":"win2008-v8-i-98436748","typeId":160}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/agents
  response:
    body: {string: !!python/unicode '{"count":0,"href":"/guestAuth/app/rest/agents","agent":[]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
