interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityNodePlugin
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityNodePlugin']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityNodePlugin
  response:
    body: {string: !!python/unicode '{"id":"TeamCityNodePlugin","name":"TeamCity.Node
        Plugin","parentProjectId":"TeamCityThirdPartyPlugins","description":"node.js,
        NPM and Phantom.JS support https://github.com/jonnyzzz/TeamCity.Node","href":"/guestAuth/app/rest/projects/id:TeamCityNodePlugin","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=TeamCityNodePlugin","parentProject":{"id":"TeamCityThirdPartyPlugins","name":"TeamCity
        Third-Party Plugins","parentProjectId":"_Root","href":"/guestAuth/app/rest/projects/id:TeamCityThirdPartyPlugins","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=TeamCityThirdPartyPlugins"},"buildTypes":{"count":2,"buildType":[{"id":"bt434","name":"TeamCity.Node","projectName":"TeamCity
        Third-Party Plugins :: TeamCity.Node Plugin","projectId":"TeamCityNodePlugin","href":"/guestAuth/app/rest/buildTypes/id:bt434","webUrl":"https://teamcity.jetbrains.com/viewType.html?buildTypeId=bt434"},{"id":"TeamCityNodePlugin_TeamCityNode2","name":"TeamCity.Node
        Experimental (M9)","projectName":"TeamCity Third-Party Plugins :: TeamCity.Node
        Plugin","projectId":"TeamCityNodePlugin","href":"/guestAuth/app/rest/buildTypes/id:TeamCityNodePlugin_TeamCityNode2","webUrl":"https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamCityNodePlugin_TeamCityNode2"}]},"templates":{"count":0,"buildType":[]},"parameters":{"count":0,"href":"/app/rest/projects/id:TeamCityNodePlugin/parameters","property":[]},"vcsRoots":{"count":1,"href":"/guestAuth/app/rest/vcs-roots?locator=project:(id:TeamCityNodePlugin)"},"projects":{"count":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
