interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/projects
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/projects']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects
  response:
    body: {string: !!python/unicode '{"count":126,"href":"/guestAuth/app/rest/projects","project":[{"id":"_Root","name":"<Root
        project>","description":"Contains all other projects","href":"/guestAuth/app/rest/projects/id:_Root","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=_Root"},{"id":"NetCommunityProjects","name":".NET
        Community Projects (Sandbox)","parentProjectId":"_Root","href":"/guestAuth/app/rest/projects/id:NetCommunityProjects","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=NetCommunityProjects"},{"id":"NetCommunityProjects_Femah","name":"Femah","parentProjectId":"NetCommunityProjects","description":"https://www.nuget.org/packages/Femah.Core/","href":"/guestAuth/app/rest/projects/id:NetCommunityProjects_Femah","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=NetCommunityProjects_Femah"},{"id":"AmazonApiClient","name":"[...]
[...]
