interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/builds/id:496513/statistics
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/builds/id:496513/statistics']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/builds/id:496513/statistics
  response:
    body: {string: !!python/unicode '{"count":12,"property":[{"name":"ArtifactsSize","value":"106476"},{"name":"BuildCheckoutTime","value":"3987"},{"name":"BuildDuration","value":"454400"},{"name":"BuildDurationNetTime","value":"450413"},{"name":"buildStageDuration:artifactsPublishing","value":"90"},{"name":"buildStageDuration:buildFinishing","value":"7"},{"name":"buildStageDuration:buildStepRUNNER_205","value":"450030"},{"name":"buildStageDuration:firstStepPreparation","value":"96"},{"name":"buildStageDuration:sourcesUpdate","value":"4001"},{"name":"BuildTestStatus","value":"1"},{"name":"SuccessRate","value":"1"},{"name":"TimeSpentInQueue","value":"410561"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
