interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:Gradle
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:Gradle']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:Gradle
  response:
    body: {string: !!python/unicode '{"id":"Gradle","name":"Gradle","parentProjectId":"_Root","archived":true,"href":"/guestAuth/app/rest/projects/id:Gradle","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=Gradle","parentProject":{"id":"_Root","name":"<Root
        project>","description":"Contains all other projects","href":"/guestAuth/app/rest/projects/id:_Root","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=_Root"},"buildTypes":{"count":0,"buildType":[]},"templates":{"count":0,"buildType":[]},"parameters":{"count":0,"href":"/app/rest/projects/id:Gradle/parameters","property":[]},"vcsRoots":{"count":6,"href":"/guestAuth/app/rest/vcs-roots?locator=project:(id:Gradle)"},"projects":{"count":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:Gradle
  response:
    body: {string: !!python/unicode '{"id":"Gradle","name":"Gradle","parentProjectId":"_Root","archived":true,"href":"/guestAuth/app/rest/projects/id:Gradle","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=Gradle","parentProject":{"id":"_Root","name":"<Root
        project>","description":"Contains all other projects","href":"/guestAuth/app/rest/projects/id:_Root","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=_Root"},"buildTypes":{"count":0,"buildType":[]},"templates":{"count":0,"buildType":[]},"parameters":{"count":0,"href":"/app/rest/projects/id:Gradle/parameters","property":[]},"vcsRoots":{"count":6,"href":"/guestAuth/app/rest/vcs-roots?locator=project:(id:Gradle)"},"projects":{"count":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
