interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/changes?start=0&count=10
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/changes?start=0&count=10']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/changes?start=0&count=10
  response:
    body: {string: !!python/unicode '{"nextHref":"/guestAuth/app/rest/changes?locator=count:10,start:10","href":"/guestAuth/app/rest/changes","count":10,"change":[{"id":1765677,"version":"016c797cd5a403e540e2a0a01464e7f38b553e36","username":"kirill.likhodedov","date":"20150607T122551+0300","href":"/guestAuth/app/rest/changes/id:1765677","webUrl":"https://teamcity.jetbrains.com/viewModification.html?modId=1765677&personal=false"},{"id":1765676,"version":"2c79be9e0a9f8aa481c9cd0a561a1c91bd707554","username":"b.rasmusson","date":"20150607T101534+0300","href":"/guestAuth/app/rest/changes/id:1765676","webUrl":"https://teamcity.jetbrains.com/viewModification.html?modId=1765676&personal=false"},{"id":1765675,"version":"19801f29ceed3e3fad3fd9fe52fd112e7cf84c7a","username":"b.rasmusson","date":"20150607T111628+0300","href":"/guestAuth/app/rest/c[...]
[...]
