interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/changes/id:1765506
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/changes/id:1765506']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/changes/id:1765506
  response:
    body: {string: !!python/unicode '{"id":1765506,"version":"e3df2d0056b58b270b16a3f344f792dc71f1d53e","username":"alexander.udalov","date":"20150603T130834+0300","href":"/guestAuth/app/rest/changes/id:1765506","webUrl":"https://teamcity.jetbrains.com/viewModification.html?modId=1765506&personal=false","comment":"Ant
        task: pass kotlin-runtime to javac''s classpath; simplify tests\n\n''kotlinCompiler''
        test is deleted because it''s a very roundabout way to compile\nKotlin and
        Java sources, and there''s no point in testing it.\n\n''javacCompiler'' test
        is deleted for similar reasons: using javac''s \"compiler\"\noption is not
        an advertised way to use Kotlin Ant task, and anyway it will work\nwith any
        CompilerAdapter instance, so it''s hard to break it (apart from\ndeleting
        \"withKotlin\" adapter).\n\nThere are tests which check compilation/running
        of the same code but with the\nrecommended method. The pretext for deletion
        of these tests is to make Ant\ntests generated, and that would be easier if
        they wouldn''t depend on any outer\nvariables\n","user":{"username":"udalov","name":"Alexander
        Udalov","id":1419,"href":"/guestAuth/app/rest/users/id:1419"},"files":{"file":[{"before-revision":"7e24413e9b809b43bc220088868928c137876006","after-revision":"e3df2d0056b58b270b16a3f344f792dc71f1d53e","file":"ant/src/org/jetbrains/kotlin/ant/KotlinAntTaskUtil.kt","relative-file":"ant/src/org/jetbrains/kotlin/ant/KotlinAntTaskUtil.kt"},{"before-revision":"7e24413e9b809b43bc220088868928c137876006","after-revision":"e3df2d0056b58b270b16a3f344f792dc71f1d53e","file":"ant/src/org/jetbrains/kotlin/ant/KotlinCompilerAdapter.java","relative-file":"ant/src/org/jetbrains/kotlin/ant/KotlinCompilerAdapter.java"},{"before-revision":"7e24413e9b809b43bc220088868928c137876006","after-revision":"e3df2d0056b58b270b16a3f344f792dc71f1d53e","file":"compiler/testData/integration/ant/jvm/exter[...]
