interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityGitHub
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityGitHub']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/projects/id:TeamCityGitHub
  response:
    body: {string: !!python/unicode '{"id":"TeamCityGitHub","name":"TeamCity.GitHub","parentProjectId":"TeamCityThirdPartyPlugins","description":"https://github.com/jonnyzzz/TeamCity.GitHub","href":"/guestAuth/app/rest/projects/id:TeamCityGitHub","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=TeamCityGitHub","parentProject":{"id":"TeamCityThirdPartyPlugins","name":"TeamCity
        Third-Party Plugins","parentProjectId":"_Root","href":"/guestAuth/app/rest/projects/id:TeamCityThirdPartyPlugins","webUrl":"https://teamcity.jetbrains.com/project.html?projectId=TeamCityThirdPartyPlugins"},"buildTypes":{"count":1,"buildType":[{"id":"bt398","name":"TeamCity.GitHub","description":"Provides
        integration with GitHub api","projectName":"TeamCity Third-Party Plugins ::
        TeamCity.GitHub","projectId":"TeamCityGitHub","href":"/guestAuth/app/rest/buildTypes/id:bt398","webUrl":"https://teamcity.jetbrains.com/viewType.html?buildTypeId=bt398"}]},"templates":{"count":0,"buildType":[]},"parameters":{"count":0,"href":"/app/rest/projects/id:TeamCityGitHub/parameters","property":[]},"vcsRoots":{"count":1,"href":"/guestAuth/app/rest/vcs-roots?locator=project:(id:TeamCityGitHub)"},"projects":{"count":0}}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
