interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://teamcity.jetbrains.com/guestAuth/app/rest/buildQueue
  response:
    body: {string: !!python/unicode "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"}
    headers:
      content-type: [text/html]
      location: ['https://teamcity.jetbrains.com/guestAuth/app/rest/buildQueue']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: https://teamcity.jetbrains.com/guestAuth/app/rest/buildQueue
  response:
    body: {string: !!python/unicode '{"count":1,"href":"/guestAuth/app/rest/buildQueue","build":[{"id":478276,"buildTypeId":"bt135","state":"queued","href":"/guestAuth/app/rest/buildQueue/id:478276","webUrl":"https://teamcity.jetbrains.com/viewQueued.html?itemId=478276"}]}'}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
